<form (ngSubmit)="filtrar()">
  Descrição:
  <input name="descricao" [(ngModel)]="descricao">
  <button>Filtrar</button>
</form>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <td>Código</td>
      <td>Descricao</td>
      <td>Valor do veiculo</td>
      <td>Alugado</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let veiculo of veiculos">
      <td>{{veiculo.idVeiculo}}</td>
      <td>{{veiculo.descricao}}</td>
      <td>{{veiculo.valor_veiculo}}</td>
      <td>{{veiculo.alugado}}</td>
    </tr>
  </tbody>
</table>